DOCTYPE
html
 head
  meta(charset="UTF-8")
  title Principal
  style
  body(font-family: Arial)
  body(onload='oldeMensaje()')
  div
    h3 Mensajes:
    ul(id="listado-msjs")
  div
    input( id="nuevo-nonb"  placeholder="Nombre" require)
  div(id="env-msjs")
    input(id="nuevo-msj"  placeholder="Nuevo mensaje")
    button(id='btn-msj' onclick='enviarMensaje()' Enviar)
  div 
    button(id='Apagar' onclick='Apagar()' value='Apagar' Apagar)
  div 
    button(id='Encendido' onclick='Encendido()' value='Encendido' Encendido)
  script.(src='http://code.jquery.com/jquery-1.11.1.js')
  script.(src='/socket.io/socket.io.js')
  //bien
  script |
    var socket = io(); 
    socket.
    on('nuevo mensaje', function (msj,nomb))
      $('#listado-msjs').append( $('<li>').html(nomb +":"+ msj))
    socket.on('usuario des', function (doc))
      var usu = JSON.stringify(doc)     
      var usu1 = JSON.parse(usu)
    for (var i = 0; i < usu1.length; i++)
      $('#listado-msjs').append( $('<li>').html("Usuario "+ usu1[i].usuario+" Desconectado"))  
    socket.on('old mensaje', function (doc))
      var obj1 = JSON.stringify(doc)     
      var obj = JSON.parse(obj1)
    for (var i = 0; i < obj.length; i++)
    if(obj[i].usuario != null)
      $('#listado-msjs').append( $('<li>').html( obj[i].usuario +" : "+ obj[i].mensajess)
    // div.innerHTML = div.innerHTML + "<p class='inner' id="+i+">"+ obj[i].mensajess +"</p>" + "<br>";
    // alert(obj[i]);
    //  div.innerHTML = div.innerHTML + "<p class='inner' id="+i+">"+ obj[i] +"</p>" + "<br>";
    //  $('#listado-msjs').append( $('<li>').text(obj.mensajess) );
    ) 
    /*
     * Emitimos un evento de tipo 'nuevo mensaje' cada vez
     * que se presiona el botón enviar y enviamos
     * su contenido como mensaje.
     */
  function enviarMensaje() {
     //alert($('#nuevo-msj').val());
    //alert($('#nuevo-nonb').val());
    
    if($('#nuevo-msj').val() != "" && $('#nuevo-nonb').val() != "")      
   socket.emit('nuevo mensaje', $('#nuevo-msj').val(),$('#nuevo-nonb').val() )
    $('#nuevo-msj').val('')
  else
    if($('#nuevo-msj').val() == "" )
    alert("El Mensaje Esta En Blanco")
    if($('#nuevo-nonb').val() == "" )
    alert("El nombre Esta En Blanco")
  function Encendido() 
    //alert($('#Encendido').val())
    //alert($('#nuevo-nonb').val())
  socket.emit('LBX', $('#Encendido').val())
     //$('#Encendido').val('');
  function Apagar()
    //alert($('#Apagar').val())
    //alert($('#nuevo-nonb').val())
  socket
    .emit('LBX', $('#Apagar').val())
  function oldeMensaje() 
  socket.emit('old mensaje', $('#nuevo-msj').val())
    $('#nuevo-msj').val('')
