extends ./layout.jade 
block contenedor
	div(class="container")
		div(class="card text-center")
			div(class="card-header")
			div(class="card-body")
				h1(class="card-title")
					span(class="badge badge-secondary") WAVE LBX CLOUD 
				h1
				span(class="badge badge-secondary btn-lg")
					a(href="/login" ) Iniciar session