extends ./layout.jade 
block contenedor
    div(class="container")
        div(class="row") 
            div(class="col-md-6")
                div(class="card")
                    form(action="/user" method="POST" class="box")
                        h1 Wave Cloud  Login
                        p(class="text-muted") Favor  entrar tu login and password!
                        input(type="text",name="username",placeholder="Usuario", required )
                        input(type="password",name="password",placeholder="Password" ,required)
                        input(type="submit" value="Iniciar sesion") 
                        div(class="col-md-12")
                            ul(class="social-network social-circle")
                                li
                                    a(href="#" class="icoFacebook" title="Facebook")
                                        i(class="fab fa-facebook-f")
                                li
                                    a(href="#" class="icoTwitter" title="Twitter")
                                        i(class="fab fa-twitter")
                                li
                                    a(href="#" class="icoGoogle" title="Google +")
                                        i(class="fab fa-google-plus")
                                a(href="/registrar" class="btn btn-info") Registrar 