extends ../layout.jade 
block contenedor                      
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
        a(class="navbar-brand" href="#") BLX
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
            ul(class="navbar-nav mr-auto")
                li(class="nav-item active")
                    a(class="nav-link" href="app") Home 
                    span(class="sr-only">(current))
                li(class="nav-item")
                    a(class="nav-link" href="#") Usuario :#{ user.email}
                li(class="nav-item dropdown")
                    a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")  Dropdown
                        div(class="dropdown-menu" aria-labelledby="navbarDropdown")
                            a(class="dropdown-item" href="#") Action
                            a(class="dropdown-item" href="#") Another action
                            div(class="dropdown-divider")
                            a(class="dropdown-item" href="#") Something else here
                    li(class="nav-item")
                        a(class="nav-link disabled" href="#") Disabled
            form(class="form-inline my-2 my-lg-0")
                input(class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search")
                button(class="btn btn-outline-success my-2 my-sm-0" type="submit") Search

            //div(id="chartContainer" style="height: 370px; width:100%;")
    div(class="container")        
            div(id="chart")
            form(name="fomul") 
                h1 Selecionar
                br
                select(name="miSelect" id="miSelect")
                br
                br 
                //input(type="button" value="Selecion" onclick="dimePropiedades()") 
        button(class="btn btn-info" onclick='undia()') un Dia   
            span                
        a(href="#" class="btn btn-info" onclick='undia()') un Semana 
            br
        div(class="clearfix")
        h1
            a(href="/disp_registrar" class="btn btn-info") Agregar un equipo
            // h1 usuario#{ user.email}
            br
           a(href="#" class="btn btn-info" onclick='NO()') ON 
            br
           a(href="#" class="btn btn-info" onclick='OFF()') OFF
    script.

        var socket = io.connect('http://www.memate.tk:80', {transports: ['polling']});
        var entro = 0;
        var selecionw = 0;
         if(entro == 0)
        {
            //alert('l Mensaje Esta En Blanco');
            socket.emit('nuevo',"#{user._id}")
            entro =1;
        }
        function undia(){
            alert("esto es un dia");
        }
         function unademana(){
            alert("esto es un semana");
        }
         function NO(){
            socket.emit('now','{"comando":"on"}');
           
        }
        function OFF(){
            socket.emit('now','{"comando":"off"}');
       
        }
        socket.on('dispositivo', function (doc) {
            
            var obj1 = JSON.stringify(doc);
            var obj = JSON.parse(obj1);
            var chipid;
           
                for (var e  = 0; e < obj.length; e++){
               // alert(obj[e].nombre);
                $('#miSelect').append( $('<option value='+obj[e].chipid+' >').html(obj[e].nombre));
                    if(selecionw == 0){
                        chipid = obj[e].chipid;
                        socket.emit('nuevochip',chipid);
                        selecionw = 1;
                       
                    }
            }
        });

            var select = document.getElementById('miSelect');
            select.addEventListener('change',
            function(){
            var selectedOption = this.options[select.selectedIndex];
            console.log(selectedOption.value + ': ' + selectedOption.text);
            chipid = selectedOption.value ;
           socket.emit('nuevochip',chipid);
            //  socket.on('evento_lbx',"hola");
            });
                Highcharts.setOptions({
                time: {
                useUTC: false
                }
                });

        var chart;
            chart = new Highcharts.Chart({
            chart:{
            renderTo:'chart',
            defaultSeriesType:'line',
            events:{
                load:function(){
                    //Cada vez que reciba un valor desde el socket, lo meto en la gráfica
                    //chipid prueba 2393796
                    
                  //  socket.on(chipid, function (time,bateria){
                     // setInterval(function(){
                    
                    socket.on('update', function (doc) {
                        var obj1 = JSON.stringify(doc);
                        var obj = JSON.parse(obj1);
                         for (var i = 0; i < obj.length; i++){
                            //alert(obj[i].battery);
                            ms = Date.parse(obj[i].fechahora);
                            fecha = new Date(ms).toString();
                            //console.log(fecha.getTime());
                            var date = fecha.toString();
                            date2 = new  Date(fecha).getTime();
                            var bateria = parseFloat(obj[i].battery)
                            //alert(date);
                         var series = chart.series[0].addPoint([date2,bateria],true);
                          
                           }
                     });   
                      setInterval(function(){
                                               
                        },2000);
                    //series.addPoint([time,bateria]);
                    //nsole.log(time)
                  //  });
                }
            }},
            rangeSelector:{
                selected:100
            },title:{
                text: 'Status LBX'
            },xAxis:{
                
                time: {
                timezone: 'America/Santo_Domingo'
                },
                type: 'datetime',
                tickPixelInterval: 150,
                maxZoom: 10 * 1000
            },yAxis:{

                max:15,
                min:0,
                minPadding: 5.2,
                maxPadding: 5.2,
                title: {
                text: 'Carga Bateria',

                margin: 80
               
            }
            },series:[{
                name:'Carga',
                bateria:[]
            }]
        })